html {
  font-family: 'Helvetica Neue', sans-serif;
}

/* `*` is a css selector that select every node in the page */
* {
  font-family: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.App{
  margin: 0 20px;
}

.AuctionList > *:not(:last-child) {
  margin-bottom: 10px;
}

nav > *:not(:last-child){
  margin-right: 10px;
}
.card-subtitle{
  margin-top:4px
}

.card-text{
  margin-top:3px !important;,
  margin-bottom:3px !important
}
